* {
  padding: 0;
  margin: 0;
}
.butoon {
  width: 230px;
  display: flex;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.bloque {
  width: 80px;
  height: 80px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: solid; */
  height: 70px;
  background-color: rgb(249, 249, 246);
  position: fixed;
  flex-wrap: wrap;
  z-index: 100;
  width: 100%;
}
.icon {
  display: flex;
  align-items: center;
  margin: auto 50px;
}
.logo {
  margin: auto 50px;
  text-align: center;
  font-weight: bold;
  color: blueviolet;
  font-size: 1.5em;
}
.links {
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: blueviolet;
}

.nav-link {
  display: flex;
  justify-content: space-evenly;
  /* border: solid; */
  flex-wrap: wrap;

  width: 40%;
  height: 50%;
  align-items: center;
}

@media screen and (max-width: 500px) {
  /* .nav-link {
    display: none;
  } */
  .links {
    display: none;
  }
  .tostadas {
    display: flex;
    flex-wrap: wrap;
  }
  .butoon {
    display: flex;

    font-size: 40%;
    text-align: center;
  }
}
/* @media screen and (max-width: 700px) {
  .butoon {
    font-size: 10%;
    text-align: center;
  }
} */
.botonestilo {
  color: black;
  width: "100px";
}
